/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: var(--gray);
}

:root {
  --periwinkle: #CCCCFF;
  --white: #FFFFFF;
  --black: #000000;
  --lightGray: #dfdfdf;
  --darkGray: #333;
  --gray: #616161;
  --blue: #0078d7;
}

.header {
  background-color: var(--lightGray);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-git {
  height: 42px;
  width: 42px;
  cursor: pointer;
}

header>nav>ul>li:not(:first-child):before {
  content: "╱";
  color: #454545;
  margin: 10px;
}

header>nav>ul>li>a {
  margin: 3px;
}

header>nav>ul>li, header>nav>ul>li>a {
  display: inline-block;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation a {
  text-decoration: none;
  color: var(--blue);
}

/* Стилизация ссылок при наведении */
.navigation a:hover {
  /*Подчёркивание ссылок при наведении*/
  text-decoration: underline;
}

.welcome {
  background-image: url('Images/58488-pole_cvety2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--blue);
  color: var(--white);
  padding: 50px 20px;
  text-align: center;
}

.site-info {
  padding: 50px 20px;
  text-align: center;
}
  
.container-card {
  display: flex;
  /*Расположение с равными отступами между ними*/
  justify-content: space-around;
  /*Выравнивание по центру*/
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  border-radius: 5px; /* Добавляет скругленные углы к карточке */
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.card img {
  border-radius: 5px 5px 0 0; /* Добавляет скругленные углы к верхней части изображения */
  width: 244px; 
  height: 300px;
}

@media (max-width:600px) {
  .card {
    width: 100%;
    display: block;
  }
}

.main-content {
  padding: 20px;
}

.gray-interlayer {
  background-color: var(--lightGray);
  text-align: center;
  padding: 10px 20px;
}

.head2 {
  font-size: 50px;
  text-align: center;
  padding: 10px;
}

.cell-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.cell-img-interlayer {
  height: 350px;
  width: 688px;
}

.cell-img2 {
  height: 600px;
  width: 600px;
}

.cell-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.cell {
  text-align: center;
}

.arrow-container {
  display: grid;
  text-align: center;
}

.arrow-img {
  width: 150px;
  height: 150px;
}

.info {
  max-width: 100%;
  height: auto;
}

.footer {
  background-image: url('Images/58488-pole_cvety2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 10px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.align {
  display: flex;
}

.btn {
  position: relative;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid var(--white);
  text-align: center;
  cursor: pointer;
  font-family: 'Segoe UI';
  color: var(--white);
  background-color: var(--blue);
}

.btn:hover {
  background-color: #115e9b;
}

.button:active {
  background-color: #115e9b;
}

.inc {
  color: var(--white);
}